html {
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

.mainPic {
  background: #000531 url("../img/nebula.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 1em;
}

.active {
  background: #000531;
  color: white;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav > li {
  display: inline-block;
}

.nav-top {
  font-size: 1.25rem;
}
