<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{ page.meta }}">
  <title>{% if page.title %}{{ page.title }} · {% endif %}Planets of the Universe{% if page.title-after %} · {{ page.title-after }}{% endif %}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>
<body>
  <div class="container">
    <header class="header {{ page.header-class }}">
      <h1>Planets of the Universe</h1>
      {% include nav.html navclass="nav__header" navitemclass="nav__item" navaclass="nav__header__a"%}
    </header>

    {{ content }}

    <footer>
      {% include nav.html navclass="nav__footer" navitemclass="nav__item" navaclass="nav__footer__a"%}
      <p>&copy; 2018 Planets of the Universe</p>
    </footer>
  </div>
</body>
</html>
